body {
    min-width: 320px;
    margin: 0;
}

p {
    font-family: Calibri;
    font-size: 18px;
}

/* Header */
#header {
    box-sizing: border-box;
    background-color: darkblue;
    color: white;
    width: 80vw;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    font-family: Helvetica;
    font-weight: 700;
    letter-spacing: 3px;
}

#main-menu-navigation {
    box-sizing: border-box;
    background-color: darkblue;
    color: white;
}

#main-menu-navigation a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
    margin: 0 12px;
}

#main-menu-navigation a:active  {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#main-menu-navigation a:hover {
    color: lightblue;
}
/* --- END --- */

/* Main Sections */
h2 {
    border-bottom: 1px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    box-sizing: border-box;
    color: darkblue;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    padding: 30px;
    width: 80vw;
    margin: 30px auto;
}

/* --- END --- */

/* Services */
#services {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    padding: 30px;
   
}
#services li {
    display: block;
    box-sizing: border-box;
    border: 2px darkblue solid;
    box-shadow: 4px 2px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    list-style: none;
    padding: 15px;
    height: 180px;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: .3s;
}
#services li:hover {
    scale: 1.06;
    
}
/* --- END ---*/

/* Hamburger Menu Structure */
#menu-bars-container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0 20px;
  display: none;
}

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.7s;
}

.change #bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* --- END ---*/

/* Footer */
#footer {
    box-sizing: border-box;
    width: 80vw;
    margin: 0 auto;
    padding: 10px 0;
    background-color: darkblue;
    color: white;
    text-align: center;
}
/* --- END --- */

/* Add media query to generate responsive layout */
@media screen and (max-width: 768px) {
    /* Mobile phone in portrait layout */
    /* Expand Header */
    #header {
        width: 100vw;
    }
    /* Hide descriptive header text */
    #header p {
        display: none;
    }
    /* Hide nav */
    .main-nav {
        height: 0;
        width: 0;
        opacity: 0;
    }
    /* Show hamburger menu icon */
    #menu-bars-container {
        display: block;
        z-index: 1;
    }
    /* Full-screen nav */
    /* Work with openNavMenu function */
    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }
    .full-screen-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        margin: auto;
        padding: 0;
        opacity: 1;
        transition: .3s;
    }
    .full-screen-nav a {
        margin: 20px;
        font-size: 30px;
        text-align: center;
    }
    /* Services */
    #services {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
    }
    /* Footer */
    #footer {
        width: 100vw;
    }
}


